<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">Troop 31</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/laws/" class="link">Scout Laws</a></li>
					<li><a href="/post/" class="link">Blog</a></li>
				</ul>
			</div>

			<div>
				<img src="{{- index .Site.Data.assets "/img/150px-FleurDeLis.png" -}}" alt="Boy Scouts of America" class="db w4 center mb4 br0">
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/groups/660092574021166/?ref=bookmarks" "svg" "facebook") }}
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "vimeo") }} -->
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="{{- index .Site.Data.assets "/app.js" -}}"></script>

</body>

</html>
