{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/150px-FleurDeLis.png" alt="" class="db w4 center pv4">

		<p>We'd love to get in touch with you and hear your ideas and questions. We strive to grow and improve constantly and your feedback is valuable for us.</p>

		<h3 class="f4 b lh-title mb2 primary">When do we meet?</h3>
		<p>We meet every Thursday night at 6:30pm. Please stop by.</p>

		<div class="flex-ns mb3">
			<div>
				<h4 class="f4 b lh-title mb2 primary">Meeting Location</h4>
				<p>Berkley Congregational Church.<br>13 S Main St, Berkley, MA 02779</p>
			</div>

		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
