{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "Site" .Site "imageUrl" "/img/home/jumbotron.jpg" "title" "Troop 31" "subtitle" "Berkley, MA") }}

{{ partial "short-text" (dict "heading" "Troop 31" "text" "We are an active troop in Berkley, Massachusetts.")}}

{{ partial "text-and-image" (dict "Site" .Site "heading" "Our values" "text" "Our troop offers a great place to learn Scout skills and values." "buttonText" "Read more" "buttonLink" "/laws") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
